.card-feed-entry {
    max-width: 400px;
    background: transparent;
    color:#f0EEF0;
  }

  .mat-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: none !important;
}

  .mat-card-subtitle {
      color: #f0EEF0;
  }