.card-feed-entry {
    max-width: 400px;
    background: transparent;
}

.card {
  box-shadow:none;
  border-bottom:1px solid #242424;
  border-top-width:0px;
}

.card-header{
  font-weight:bold;
  font-size: 1rem;
  padding: 0 .75rem;
}

.card-block, .card-header{
  border-bottom-width:0px;
}

.card-media-block .card-media-description{
  margin:0;
}

/**text**/
.small-text{
  font-size:12px;
}

.grey {
  color:#cccccc;
}